<div class="container">
  <form class="form-container">
    <div class="d-flex justify-content-center">
      <input
        class="form-add-todolist"
        type="text"
        name="addInput"
        placeholder="Add New Task"
        [(ngModel)]="addInput"
        required
      />
      <button class="btn btn-primary" (click)="onSubmit()">Add</button>
    </div>
  </form>

  <div class="content-container">
    <div *ngIf="countTodolists === 0">
      <div class="empty-todo-list">You don't have a todo list, Create One!</div>
    </div>

    <app-todo-list-item [todoLists]="todoLists"></app-todo-list-item>

    <div *ngIf="countTodolists > 0">
      <button (click)="onClearTodolist()" class="button-primary">
        Clear All
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
