.container {
    width: 700px;

    .form-add-todolist {
        padding: 10px;
        border-radius: 10px;
        max-width: 500px;
        min-width: 300px;
        border: 1px solid #ced4da;
    }

    .content-container {

        margin-top: 20px;
        border: solid;
        padding: 15px;
        border: 1px solid #ced4da;

        .empty-todo-list {
            text-align: center;
            font-size: 14px;
        }
    }
}