<div *ngIf="todoLists[idTodo]">
  <h2 class="text-center">Edit Todo List Urutan ke {{ idTodo + 1 }}</h2>
  <form
    class="form-container mt-3"
    (ngSubmit)="onSubmit(idTodo)"
    #editForm="ngForm"
  >
    <div class="d-flex justify-content-center">
      <input
        class="col-md-6 form-control"
        type="text"
        name="addInput"
        placeholder="Add New Task"
        ngModel
        required
      />
      <button class="btn btn-primary">Edit</button>
    </div>
  </form>
</div>
